*, body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: rgb(55, 100, 144);

}

h3 {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 28px;
    color: whitesmoke;
    white-space: nowrap;
    border-right: solid 3px rgba(0,255,0,.75);
    animation: typewriter 4s steps(50, end) 1s 1 normal both, cursor 600ms steps(50, end) infinite;
} 

@keyframes typewriter {
    from {width: 0px;}
    to {width: 350px;}
}

@keyframes cursor {
    from {
        border-right-color: rgba(0,255,0,.75);
    }
    to {
        border-right-color: transparent;
    }
}